body {
    font: 100% sans-serif;
    padding:0 5em;
}
header {
    display:block;
}
#content-banner {
    float:right;
}
footer {
    width: 60em;
    clear: both;
    display: block;
    padding: 5em 0 0;
}
footer p{ 
    font-size: 80%;
}
section {
    width: 40em;
    display: block;
    float: left;
    margin: 1em;
}
aside {
    width: 24em;
    float: left;
    font-size:80%;
    margin: 1em
}
pre, code {
    font: monospace;
    white-space: pre-wrap;
}

blockquote{
    font: serif;
}
article {
    display:block;
    background: #EEE;
    padding: 0.1em 1em ;
    margin-bottom:1em;
    
} 

details {
    text-align: right;
    font-size:80%;
    display:block;
    padding:0.5em;
    color: #555;
    margin: 0 -1em;
}

h1 {
    font-weight: normal;
    font-size: 2.5em;
    background:#FC0;
    display:inline;
    line-height:1.5em;
}

}
h2 {
    font-weight: normal;
}
a {
   color:#06C;
   text-decoration:none;
}
a:hover {
    text-decoration: underline;
}

a img{
    border: 0;
}
img {
    display:block;
    margin: 1em auto;
}
