body {
    font: 100% sans-serif;
}
section {
    width: 40em;
    margin: 0 2em;
    display: block;
    padding: 1em;
    background: #EBEBEB;
    float: left;
    
}
aside {
    width: 15em;
    float: left;
}
pre, code {
    font: monospace;
    white-space: pre-wrap;
}
article {
    margin: 1em;
    display:block;
} 
details {
    text-align: right;
}
h1 {
    font-weight: normal;
    font-size: 2.5em;
}
h2 {
    font-weight: normal;
}
footer {
    clear:both;
    display:block;
}
