local_settings.py
pip-log.txt

*.pyc
__pycache__

*~
*.db
*.tar.gz
*.log
*.sublime-*
*.bz2
*.sqlite3
*egg-info
.sass-cache/
.idea/

etc/*
apps/*
cloth/lib/*
static/

static/admin/*
static/media/
node_modules/

dump/

