Pillow
django==1.4.2
django-tagging
Markdown
pygments
django-pagination
psycopg2
south
django-debug-toolbar
git+git://github.com/tutuca/python-markdown-video.git#egg=python-markdown-video
git+git://github.com/tutuca/markdown-urlize.git#egg=markdown-urlize
git+git://github.com/apanruning/banners.git#egg=banners