// Reset and dependencies
@import "variables";
@import "bootstrap";

@import "pygments";

$base03:    #010204;
$base02:    #4D2219;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #AFDE9C;
$base1:     #E8F7EE;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$fg_color:  $blue;

@mixin transition ($time) {
    -moz-transition: all $time;
    -webkit-transition: all $time;
    transition: all $time;
}
@mixin gradient($color, $direction:top) {
   background-image: -webkit-linear-gradient($direction, $color, darken($color, 10%)); 
   background-image: -moz-linear-gradient($direction, $color, darken($color, 10%));
   background-image: -ms-linear-gradient($direction, $color, darken($color, 10%));
   background-image: -o-linear-gradient($direction, $color, darken($color, 10%));
}
@mixin button($fg:#FFF, $bg:$green, $border:$base1){
    @include gradient($bg);
    @include transition(0.3s);
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 1px rgba(0,0,0,.05);
    padding: 2px 6px;
    font-size:1.2em;
    text-shadow: 0 1px 1px #333;
    margin:0 0.3em;
    color: $fg;
    
    &:active {
        @include transition(0.1s);        
        @include gradient($bg, 'bottom');
    }
    &:hover{
        @include transition(0.4s);
        text-shadow: 0 1px 0 #000;
        cursor:pointer!important;
        box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), -1px 1px 3px rgba(0,0,0,.5);
    }
}
@mixin raise() {
    &:hover{
      box-shadow: 0 0 3px #333;
      border-radius: 3px;
      @include transition(0.3s);
    }
}

@mixin tooltip($size:5px, $background:$red, $border-color:transparent, $offset: 1px){

    list-style: none;
    font-size: 80%;
    margin: 0;
    background: $background;
    padding: 2px 4px;
    border-radius: 5px;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
    z-index: 99999;
    position: absolute;
    left: 8em;
    border: $offset solid $border-color;
    &:after, &:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: $background;
        border-width: $size;
        margin-top: -$size;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: $border-color;
        border-width: $size + 2px;
        margin-top: -$size - 2px;
    }
}