body {
    font: 100% sans-serif;
    padding:0;
    margin: 0;
}
header, section, footer, article, aside {
    display: block;
    padding: 0;
    margin-bottom: 2em;
    
}
header {
    width:100%;
    padding:0;
    margin: 0;
    position: fixed;
    top:0;
    left: 0;
    background:#FFF;
    z-index:9999;
    border-bottom: 1px solid #EEE;
    box-shadow: 0 1px 3px #999;
    border-bottom: 1px solid #EEE;
}

.wrapper {
    padding: 0 1em;
}
footer {
    clear: both;
    padding: 5em 1em 1em;
    font-size: 80%;
}
footer p{ 
}

#main{
    margin:4em 0 0;
    clear: both;
    position: relative;
}
#help {
    padding: 1em;
    background: white;
    width: 25em;
    float:none;
    position:absolute;
    top: 1em;
    right:0;
    box-shadow: 0 1px 1px #999;
    border-radius: 3px;
    border: 1px solid #EEE;
    background: #FFF;
}
article {
    position:relative;
    margin:3em;
}
article img, article object {
    display:block;
    margin: 1em auto;
    max-width: 100%;

}

section {
    display:block;
} 

.detail {
    text-align: right;
    font-size:80%;
    display:block;
    color: #555;
}
#detail {
    position: fixed;
    text-align: right;
    font-size:80%;
    bottom:0;
    width: 100%;
    padding: 0;
    left: 0;
    margin: 0;
    text-shadow: 1px 1px 0px white;
    background:rgba(255,255,255,0.5);
}
#detail p {
    padding: 0 2em;
    margin: 0;

}
aside {
    text-align: left;
    width: 20%;
    position: absolute;
    font-size: 80%;
    top: 4em;
    right:1em;
}
pre, code {
    font: 110% monospace;
    white-space: pre-wrap;
}

blockquote{
    font: italic 150% "Georgia-MS", Georgia, serif;
    
}

a {
   color:#06C;
   text-decoration:none;
}
a:hover {
    text-shadow: 1px 1px 1px #CCC, 0 -1px 1px #EBEBEB;
}

a img{
    border: 0;
}
em {
    font: italic 100% "Georgia-MS", Georgia, serif;
}
h1, h2, h3, h1 a, h2 a, h3 a {
    font-weight: normal;
}
h1 {
    font-weight: normal;
}
h1 .pilcrow {
    font-size:70%;
    display:none;
    vertical-align: top;
}
h1:hover .pilcrow {
    display:inline;
}
h2 {
    font-size:180%;
}
#wrapper {
    margin: 0 auto;
    text-align:left;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px 0 0;
}
#logo {
    margin:0;
    background:url(../img/home.png) no-repeat left center;
    padding-left: 1em;
}
#banner-header {
    float:right;
    margin: 0.5em 0;
}
#banner-content {
    text-align:center;
}
#banner-aside {
    margin-top:15px;
}
#author {
    margin:1em 0;
}
#author details {
    font-size:13px;
    margin: -1.5em 0;
    text-align:left;
}
#messages {
    text-align:left;
    background: #FE9;
    border: 1px solid #FC0;
    font-size:80%;
    margin:0;
    padding:0 1em;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:100;
    list-style:none;
}
#messages li {
    padding: 0.25em 2em;
    position: relative;
}
#messages .control {
    position: absolute;
    right: 4em;
}

.rewind {
    position: absolute;
    bottom: 5em;
    right: 10em;
    
}
.banner {
    clear: both;
    position:relative;
    padding: 1em;
}
.gravatar {
    float:left;
    margin-right:0.5em;
}

.caption {
    margin:0;
    padding: 1em;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
}
.clear {
    display:block;
    clear:both;
}
.pager {
    display: block;
    position: fixed;
    top: 0;
    padding: 0;
    height: 100%;
    width:5em;
}
.pager strong {
    position: absolute;
    padding: 0;
    display: block;
    margin-top: 0;
    top: 50%;
    width: 16px;
    height: 23px;
    overflow: hidden;
    text-indent: -99999px;
    background: url(../img/arrows.png) no-repeat;
}
.pager:hover strong {
    color: rgba(0, 102, 204, 1);
}

.prev {
    left: 1em;
}
.prev strong {
    background-position: top left;
    left:0;
}
.prev:hover strong{
    background-position: bottom left;
}
.next { 
    right:1em;
} 

.next strong {
    background-position: top right;
    right:0;
}
.next:hover strong {
    background-position: bottom right;
}



.tags {
    background: url(../img/bg-tags.png) left no-repeat;
    color: #666666;
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 32px;
    margin: 2px 2px 2px 0;
    overflow: visible;
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    min-width:30px;
    white-space: nowrap;
}

.hide {
    display:none;
}

nav {
    float: right;
}
nav a{
    font-size:2em;
    padding: 0 0.5em;
}
.session {
    font-size: 100%;
}
.session a:hover {
    background:transparent;
}
form {

}
form p {
    margin: 0.25em 0 ;
}
#leak-form section{
    margin-bottom:1em;
}
.submit {
    text-align: right;
    padding: 0 1em;
}
.submit a {
    line-height:2.5em;
}
#formating-help {
    float:right;
    width: 30%;
    font-size: 80%;
    border: 1px solid #FFF;
    border-width:1px 0;
    border-color: #CCC transparent #FFF;

}
#formating-help caption {
    margin: 0 0 1em -2em;
    text-align: left;
}
#formating-help td {
    vertical-align: top;
    border: 1px solid #FFF;
    border-width:1px 0;
    border-color: #FFF transparent #CCC;
    padding: 0.25em;
}
form p {
    clear: left;
    padding: 0.25em 0;
    position: relative;
}

input, 
textarea{
    border: 1px solid #999;
    font: 1em sans-serif;
    padding: 0.25em;
    border-radius: 3px;
}
textarea {
    font-size:1.5em;
    height:5em;
    width:20em;
}
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus, 
input[type='submit']:focus,
textarea:focus{
    border: 1px solid #0C6;
    outline:0 !important;
    box-shadow: 0 0 2px #FC0;
}
.error {
    background: #FEA;
    border-radius: 3px;

}
.error input, 
.error textarea {
    border: 1px solid #C60;
    box-shadow: 0 0 2px #F00;
}
.errorlist{
    position:absolute;
    right: 3em;
    list-style:none;
    margin:0.5em;
    font-size:80%;
}
label {
    float:left;
    width: 6em;
    margin: 0.5em 1em;
    text-align:right;
    font-size:80%;
}
form span {
    font-size:80%;
}
.required label {
    font-weight:bold;
    color:#C60;
}

input[type='submit'] {
    padding:0.25em 1em 0.25em 2em;
    margin:0.25em 0;
    background: #06C url(../img/apply.png) no-repeat 5px center ;
    color:#FFF;
    text-shadow: 1px 1px 0px #333;
    border-radius:15px;
    outline:none;
}
#leak-form input[type='submit'] {
    float:left;
}
input[type='submit']:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px #999;
}
input[type='submit']:active {
    margin:4px -2px 0 0;
    
}


.ui-autocomplete {
    list-style: none;
    position:fixed !important;
    background: #FFF;
    width: 10em;
    padding:0;
    margin:0;
}
.ui-autocomplete a {
    display:block;
    font-size:80%;
    padding: 0.5em;
}
.ui-state-hover {
    background:#0C6;
    color:#FFF;
}
