body {
    font: 80% "Lucida Grande", Arial, Helvetica, sans-serif;
    padding: 0 5em;
    margin: 0;
    text-align: center;    
}
header {
    display:block;
    margin: 0 auto;
    text-align:left;
    padding:1em;
}

footer {
    clear: both;
    display: block;
    padding: 5em 1em 1em;
    margin: 0 auto;
    text-align:left;
}
footer p{ 
}

#main{
    text-align:left;
    margin:0 auto;
    overflow: hidden;
}

section {
    width: 50em;
    display: block;
    float: left;
    padding: 1em;
}

article {
    display:block;
    background: #EEE;
    padding: 0.1em 1em ;
    margin: 0.1em -1em ;
    margin-bottom:1em;
} 
article h1 {
    text-shadow: 1px 1px 1px #999, 0 -1px 1px #EBEBEB;
}

details {
    text-align: right;
    font-size:80%;
    display:block;
    padding:0.5em;
    color: #555;
}
aside {
    text-align: left;
    width: 20em;
    float: right;
    padding: 1em;
}
pre, code {
    font: 110% monospace;
    white-space: pre-wrap;
}

blockquote{
    font: 100% italic "Georgia-MS", Georgia, serif;
    
}

a {
   color:#06C;
   text-decoration:none;
}
a:hover {
    text-decoration: underline;
}

a img{
    border: 0;
}
em {
    font: italic 100% "Georgia-MS", Georgia, serif;
}
article img {
    display:block;
    margin: 1em auto;
    max-width: 35em;
}

h1, h2, h3, h1 a, h2 a, h3 a {
    font-weight: normal;
}
h1 {
    font-weight: normal;
    line-height:1.5em;
}
h2 {
    font-size:180%;
}
#wrapper {
    width: 75em;
    margin: 0 auto;
    text-align:left;
}
#logo {
    background:#FFF;
    margin:0;
    font-size: 3.5em;
}
#tagline {
    margin:0;
    color: #555;
}
#banner-header {
    float:right;
    margin: 0.5em 0;
}
#banner-content {
    text-align:center;
}
#banner-aside {
    margin-top:15px;
}
#author {
}
#author details {
    font-size:50%;
    display:inline;
}
.clear {
    display:block;
    clear:both;
}
#pagination {}
.prev {
    float:left;
}
.next { 
    float:right;
} 
/*DEBUG*/

