body {
    font: 100% sans-serif;
}
header, section, footer, article, aside {
    display: block;
    padding: 0 1em;
    margin-bottom: 2em;
    
}
header {
    width: 97%;
    padding:0 1.5%;
    margin: 0;
    position: fixed;
    top:0;
    background:#FFF;
}

footer {
    clear: both;
    padding: 5em 1em 1em;
    font-size: 80%;
}
footer p{ 
}

#main{
    margin:4em auto;
    max-width: 70em;
    clear: both;
}

section {
    display:block;
    float: left;
    width: 63%
} 

details {
    text-align: right;
    font-size:80%;
    display:block;
    color: #555;
}
aside {
    text-align: left;
    width: 29%;
    float: right;
    font-size: 80%;
}
pre, code {
    font: 110% monospace;
    white-space: pre-wrap;
}

blockquote{
    font: italic 150% "Georgia-MS", Georgia, serif;
    
}

a {
   color:#06C;
   text-decoration:none;
}
a:hover {
    text-shadow: 1px 1px 1px #CCC, 0 -1px 1px #EBEBEB;
}

a img{
    border: 0;
}
em {
    font: italic 100% "Georgia-MS", Georgia, serif;
}
article img {
    display:block;
    margin: 1em auto;
    max-width: 35em;
}

h1, h2, h3, h1 a, h2 a, h3 a {
    font-weight: normal;
}
h1 {
    font-weight: normal;
}
h1 .pilcrow {
    font-size:70%;
    display:none;
    vertical-align: top;
}
h1:hover .pilcrow {
    display:inline;
}
h2 {
    font-size:180%;
}
#wrapper {
    margin: 0 auto;
    text-align:left;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px 0 0;
}
#logo {
    margin:0;
    border-bottom: 1px solid #EEE;
}
#banner-header {
    float:right;
    margin: 0.5em 0;
}
#banner-content {
    text-align:center;
}
#banner-aside {
    margin-top:15px;
}
#author {
    margin:1em 0;
}
#author details {
    font-size:13px;
    margin: -1.5em 0;
    text-align:left;
}
#messages {
    text-align:left;
    background: #FE9;
    border: 1px solid #FC0;
    font-size:80%;
    margin:0;
    padding:0 1em;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:100;
    list-style:none;
}
#messages li {
    padding: 0.25em 2em;
    position: relative;
}
#messages .control {
    position: absolute;
    right: 4em;
}

.rewind {
    position: absolute;
    bottom: 5em;
    right: 10em;
    
}
.banner {
    clear: both;
    background: #EEE;
    position:relative;
    padding: 1em;
    border-radius: 0.25em;
}
.gravatar {
    float:left;
    margin-right:0.5em;
}

.caption {
    margin:0;
    padding: 1em;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
}
.clear {
    display:block;
    clear:both;
}

.prev {
    float:left;
    padding: 1em;
}
.next { 
    float:right;
    padding: 1em;
} 

.tags {
    background: url(/media/bg-tags.png) left no-repeat;
    color: #666666;
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 32px;
    margin: 2px 2px 2px 0;
    overflow: visible;
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    min-width:30px;
    white-space: nowrap;
}

/* forms */
.hide {
    display:none;
}

nav {
    float: right;
}
nav a{
    font-size:2em;
    padding: 0 0.5em;
}
nav a:hover {
    background: #EEE;
}
#login-form {
    position: absolute;
    right:10px;
    width: 32em;
}
form {
    padding: 1em 1em 0.5em;
    background:#EEE;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 3px #999;
}
#leak-form section{
    margin-bottom:1em;
}
#leak-form .control {
    line-height:2.5em;

}
.submit {
    text-align: right;
}
#formating-help {
    float:right;
    width: 30%;
    font-size: 80%;
    border: 1px solid #FFF;
    border-width:1px 0;
    border-color: #CCC transparent #FFF;

}
#formating-help caption {
    margin: 0 0 1em -2em;
    text-align: left;
}
#formating-help td {
    vertical-align: top;
    border: 1px solid #FFF;
    border-width:1px 0;
    border-color: #FFF transparent #CCC;
    padding: 0.25em;
}
.field {
    clear: left;
    padding: 0.25em 0;
    position: relative;
}
input, 
textarea{
    border: 1px solid #999;
    font: 1em sans-serif;
    padding: 0.25em;
    border-radius: 3px;
}
textarea {
    font-size:1.5em;
    height:5em;
    width:20em;
}

input[type='text']:focus, 
textarea:focus{
    border: 1px solid #0C6;
}
.error {
    background: #FEA;
    border-radius: 3px;
}
.error input, 
.error textarea {
    border: 1px solid #C60;
}
.errorlist{
    position:absolute;
    right: 3em;
    list-style:none;
    margin:0.5em;
    font-size:80%;
}
.field label {
    float:left;
    width: 6em;
    margin: 0.5em 1em;
    text-align:right;
}
.field span {
    font-size:80%;
}
.required label {
    font-weight:bold;
    color:#C60;
}
input[type='submit'] {
    float:left;
    border:1px solid #366E91;
    padding:0.25em 1em;
    margin:0.25em 0;
    background:#06C;
    color:#FFF;
    text-shadow: 1px 1px 0px #333;
    border-radius:5px;
}
input[type='submit']:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px #999;
}
input[type='submit']:active {
    margin:4px -2px 0 0;
    
}


.ui-autocomplete {
    list-style: none;
    position:fixed !important;
    background: #FFF;
    width: 10em;
    padding:0;
    margin:0;
}
.ui-autocomplete a {
    display:block;
    font-size:80%;
    padding: 0.5em;
}
.ui-state-hover {
    background:#0C6;
    color:#FFF;
}
