body {
    font: 100% sans-serif;
}
header, section, footer, article, aside {
    display: block;
    padding: 0 1em;
    margin-bottom: 2em;
}
header {
    border-bottom: 1px solid #EEE;
    padding:0;
    margin: 0 1em;
}

footer {
    clear: both;
    padding: 5em 1em 1em;
}
footer p{ 
}

#main{
    margin:0 auto;
}

section {
    display:block;
    float: left;
    width: 70%
} 

details {
    text-align: right;
    font-size:80%;
    display:block;
    color: #555;
}
aside {
    text-align: left;
    width: 25%;
    float: right;
    font-size: 80%;
}
pre, code {
    font: 110% monospace;
    white-space: pre-wrap;
}

blockquote{
    font: italic 100% "Georgia-MS", Georgia, serif;
    
}

a {
   color:#06C;
   text-decoration:none;
}
a:hover {
    text-shadow: 1px 1px 1px #CCC, 0 -1px 1px #EBEBEB;
}

a img{
    border: 0;
}
em {
    font: italic 100% "Georgia-MS", Georgia, serif;
}
article img {
    display:block;
    margin: 1em auto;
    max-width: 35em;
}

h1, h2, h3, h1 a, h2 a, h3 a {
    font-weight: normal;
}
h1 {
    font-weight: normal;
    line-height:1.5em;
}
h2 {
    font-size:180%;
}
#wrapper {
    margin: 0 auto;
    text-align:left;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
}
#logo {
    margin:0;
}
#banner-header {
    float:right;
    margin: 0.5em 0;
}
#banner-content {
    text-align:center;
}
#banner-aside {
    margin-top:15px;
}
#author {
    margin:1em 0;
}
#author details {
    font-size:13px;
    margin: -1.5em 0;
    text-align:left;
}
#messages {
    text-align:left;
    background: #FE9;
    border: 1px solid #FC0;
    font-size:80%;
    margin:0;
    padding:0 1em;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:100;
    list-style:none;
}
#messages li {
    padding: 0.25em 2em;
    position: relative;
}
#messages .control {
    position: absolute;
    right: 4em;
}

.rewind {
    position: absolute;
    bottom: 5em;
    right: 10em;
    
}
.banner {
    clear: both;
    background: #EEE;
    position:relative;
    padding: 1em;
    border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
}
.gravatar {
    float:left;
    margin-right:0.5em;
}

.caption {
    margin:0;
    padding: 1em;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
}
.clear {
    display:block;
    clear:both;
}

.prev {
    float:left;
    padding: 1em;
}
.next { 
    float:right;
    padding: 1em;
} 

.tags {
    background-image: url("bg-tags.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 32px;
    margin: 2px 2px 2px 0;
    overflow: visible;
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    min-width:30px;
    white-space: nowrap;
}

/* forms */
.hide {
    display:none;
}
#new-leak {
    float: right;
    padding: 1em;
}
#new-leak:hover {
    background:#E2EDFA;

}
form {
    padding: 1em;
    margin: 0 auto;
    width: 70em;
}
form section {
    width: 40em;
}
form aside {
    width: 25em;
}
label {
    float:left;
    width: 8em;
    font-size:80%;
    margin: 0.5em 1em;
    text-align:right;
}
input[type='text'], textarea {
    font-size: 1.5em;
}
input[type='submit'] {
    margin-left: 10em;
}
