body {
    font: 80% "Lucida Grande", Arial, Helvetica, sans-serif;
    padding: 0 5em;
    margin: 0;
    text-align: center;    
}
header {
    display:block;
    margin: 0 auto;
    text-align:left;
    padding:1em;
}

footer {
    clear: both;
    display: block;
    padding: 5em 1em 1em;
    margin: 0 auto;
    text-align:left;
}
footer p{ 
}

#main{
    text-align:left;
    margin:0 auto;
}

section {
    display:block;
    width: 53em;
    float: left;
    background: #FCFCFC;
    padding:0;
    margin: 0.1em -1em ;
    margin-bottom:1em;
    box-shadow: 0px 2px 4px #CCC;
    -moz-box-shadow: 0px 2px 4px #CCC;
    -webkit-box-shadow: 0px 2px 4px #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

} 
article {
    display:block;
    margin: 0;
    border: 1px solid #EEE;
    border-color: #FFF transparent #EEE;
    border-width: 1px 0;
    padding: 0 1em;    
}
article h1, article h1 a {
    text-shadow: 1px 1px 1px #FFFFFF, 0 -1px 1px #EBEBEB;
    font-family: 'Georgia',serif;
    font-style: italic; 
    color: #900;
}

details {
    text-align: right;
    font-size:80%;
    display:block;
    padding:0.5em;
    color: #555;
}
aside {
    text-align: left;
    width: 20em;
    float: right;
    padding: 1em;
}
pre, code {
    font: 110% monospace;
    white-space: pre-wrap;
}

blockquote{
    font: 100% italic "Georgia-MS", Georgia, serif;
    
}

a {
   color:#06C;
   text-decoration:none;
}
a:hover {
    text-shadow: 1px 1px 1px #CCC, 0 -1px 1px #EBEBEB;
}

a img{
    border: 0;
}
em {
    font: italic 100% "Georgia-MS", Georgia, serif;
}
article img {
    display:block;
    margin: 1em auto;
    max-width: 35em;
}

h1, h2, h3, h1 a, h2 a, h3 a {
    font-weight: normal;
}
h1 {
    font-weight: normal;
    line-height:1.5em;
}
h2 {
    font-size:180%;
}
#wrapper {
    width: 75em;
    margin: 0 auto;
    text-align:left;
}
#logo {
    background:#FFF;
    margin:0;
    font-size: 3.5em;
}
#tagline {
    margin:0;
    color: #555;
}
#banner-header {
    float:right;
    margin: 0.5em 0;
}
#banner-content {
    text-align:center;
}
#banner-aside {
    margin-top:15px;
}
#author {
    padding: 0.5em;
    margin:0;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;

}
#author details {
    font-size:50%;
    margin: -1.5em 0;
    text-align:left;
}
.gravatar {
    float:left;
}

.caption {
    margin:0;
    padding: 1em;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
}
.clear {
    display:block;
    clear:both;
}

.prev {
    float:left;
    padding: 1em;
}
.next { 
    float:right;
    padding: 1em;
} 

.tags {
    background-image: url("bg-tags.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 32px;
    margin: 2px 2px 2px 0;
    overflow: visible;
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    min-width:30px;
    white-space: nowrap;
}

/* forms */
.hide {
    display:none;
}
#new-leak {
    float: right;
    padding: 1.25em 1em;
    border-radius: 0px 3px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    -webkit-border-radius: 0px 3px 0px 0px;
}
#new-leak:hover {
    background:#E2EDFA;

}
form {
    padding: 1em;
    border: 1px solid #EEE;
    border-color: #FFF transparent #EEE;
    border-width: 1px 0px
}
#format-help {
    float: right;
    width: 25em;
    margin: 0;
}
#format-help h3 {
    margin-top: 0;
}
label {
    display: block;
}
