@import "pygments";
@import "base";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);
* {
    box-sizing: content-box;
}
html, body {
    height:100%;
}

#non-footer {
    min-height:100%;
    margin-bottom:-64px;
    &:after {
      content: "";
      display: block;
    }
}
#non-footer:after, footer {
    height:64px;
}
.wrapper {
    padding: 0.5em 1em;
    overflow:overlay;
}
body {
    font: 100% "Droid Sans", sans-serif;
    background: #FFF;
    padding:0;
    margin: 0;
}
header, section, footer, article, aside {
    display: block;
    padding: 0;
    margin-bottom: 2em;
    
}
header, footer {
    width:100%;
    padding:0;
    margin: 0;

    background: $fg_color;
    color: #FFF;
    z-index:9999;
    box-shadow: 0 1px 2px #555;
    a {
        color: #FFF;
        &:hover {
            color: $red;
        }
    }
    .wrapper {
        padding: 0.3em 1em;
    }
}
header {
    position: fixed;
    top:0;
    left: 0;
}
footer {
    clear: both;
    padding: 1em 1em 5em;
    font-size: 80%;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            padding: 1em 2em;
        }
    }
}
#main{
    margin:4em 0 0;
    clear: both;
    position: relative;
}
#help {
    padding: 1em;
    background: white;
    width: 25em;
    float:none;
    position:absolute;
    top: 1em;
    right:0;
    box-shadow: 0 1px 1px #000;
    border-radius: 3px;
    border: 1px solid #EEE;
    background: #FFF;
}
section {
    display:block;
    text-align:center;
    article {
        text-align: left;
        position:relative;
        margin:2em auto;
        width:40em;
        p {
            color: #000;
            text-shadow: 0 1px 1px #FFF;
        }
    }
    .leak{
        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.25em; /* Adjusts for spacing */
        }
        article {
            display: inline-block;
            vertical-align: middle;
            margin:2em auto 0;
        }
    }

}
article img, article object {
    display:block;
    margin: 0.5em auto;
}

article object  {
    max-width: 90%;
}
.slot {
    text-align: center;
}
.detail {
    text-align: right;
    font-size:80%;
    display:block;
    color: #555;
}
#detail {
    position: fixed;
    font-size:80%;
    bottom:0;
    width: 100%;
    padding: 0;
    left: 0;
    margin: 0;
    p {
        padding: 0 3em;
        margin: 0;

    }
}
#metadata {
    float:right;
    text-align:right;

}
#tagcloud {
    position: absolute;
    bottom: 0;
    text-align:left;
    margin-top: -1em !important;
}
aside {
    text-align: left;
    width: 20%;
    position: absolute;
    font-size: 80%;
    top: 4em;
    right:1em;
}
pre, code {
    font: 110% "Droid Sans Mono",monospace;
    white-space: pre-wrap;
    color:$solarized_base1;
}

blockquote{
    font: italic 150% "Georgia-MS", Georgia, serif;
    width: 70%;
    margin: 1em auto;
}

a{
    text-decoration:none;
    color :$fg_color;
    &:hover {
        text-shadow: inset 1px 0 0 #FFF, 0 1px 1px #000; 
    }
}

a img{
    border: 0;
}
em {
    font: italic 100% "Georgia-MS", Georgia, serif;
}
h1, h2, h3, h1 a, h2 a, h3 a {
    font-weight: normal;
}
h1 {
    font-weight: normal;
}
h1 .pilcrow {
    font-size:70%;
    display:none;
    vertical-align: top;
}
h1:hover .pilcrow {
    display:inline;
}
h2 {
    font-size:180%;
}
#wrapper {
    margin: 0 auto;
    text-align:left;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px 0 0;
}
#logo {
    margin:0;
    padding: 0.2em 0;
    color: #555;
    font-size: 1.6em;
}
#banner-header {
    float:right;
    margin: 0.5em 0;
}
#banner-content {
    text-align:center;
    width: 730px;
    margin: 0 auto;

}
#banner-aside {
    margin-top:15px;
}
#author {
    margin:1em 0;
}
#author details {
    font-size:13px;
    margin: -1.5em 0;
    text-align:left;
}
#messages {
    text-align:left;
    background: #FE9;
    border: 1px solid #FC0;
    font-size:80%;
    margin:0;
    padding:0 1em;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:100;
    list-style:none;
}
#messages li {
    padding: 0.25em 2em;
    position: relative;
}
#messages .control {
    position: absolute;
    right: 4em;
}

.rewind {
    position: absolute;
    bottom: 5em;
    right: 10em;
    
}
.banner {
    clear: both;
    position:relative;
    padding: 1em;
}
.gravatar {
    float:left;
    margin-right:0.5em;
}
.caption {
    margin:0;
    padding: 1em;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
}
.clear {
    display:block;
    clear:both;
}
.pager {
    display: block;
    position: fixed;
    top: 0;
    padding: 0;
    height: 100%;
    width:3em;
    outline: 0;
    strong {
        @include transition(0.3s);
        position: fixed;
        display: block;
        padding:2px 5px;
        margin-top: 0;
        top: 50%;
        font-size:2em;
        color: rgba(100,100,100, 0.5);
        font-size:4em;
    }
    &:hover strong {
        @include transition(0.1s);
        font-size:8em;
        margin-top:-0.25em;
        color: $green;
    }

}
.prev {
    left: 1em;
}
.next { 
    right:1em;
} 
.tags {
    background: $fg_color;
    border-radius: 3px 0 0 3px;
    color: #FFF;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    &::after {
        background: #fff;
        border-bottom: 11px solid transparent;
        border-left: 9px solid $fg_color;
        border-top: 11px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }

}
.hide {
    display:none;
}

nav {
    float: right;
    font-size:1.5em ;
    padding: 0.3em 1em;
    .user {
        font-size:0.5em;
    }
    a {
        display: inline-block;
        padding: 0 0.3em;
    }
}
.session {
    font-size: 100%;
}
.session a:hover {
    background:transparent;
}
form {
    padding: 1em 2em;
    margin: 0 1em;
    text-align:left;
    p {
        position:relative;
    }
    section{
        margin-bottom:1em;
        width:50%;
        position:relative;
        text-align: left;
    }
}
.submit {
    text-align: right;
    padding: 0 1em;
    a {
        line-height:2.5em;
    }
}
#formating-help {
    float:right;
    width: 30%;
    font-size: 80%;
    border: 1px solid #FFF;
    border-width:1px 0;
    border-color: #CCC transparent #FFF;

}
#formating-help caption {
    margin: 0 0 1em -2em;
    text-align: left;
}
#formating-help td {
    vertical-align: top;
    border: 1px solid #FFF;
    border-width:1px 0;
    border-color: #FFF transparent #CCC;
    padding: 0.25em;
}


input, 
textarea{
    border: 1px solid #000;
    font: 1em sans-serif;
    padding: 0.25em;
    border-radius: 3px;
}
textarea {
    font-size:1.5em;
    height:5em;
    width:20em;
}
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus, 
textarea:focus{
    border: 1px solid #0C6;
    outline:0 !important;
    box-shadow: 0 0 2px #FC0;
}
.error input, 
.error textarea {
    border: 1px solid #C60!important;
    box-shadow: 0 0 2px #F00!important;
}
.errorlist{
    @include tooltip();
}

label {
    display:block;
    margin: 0.5em 0 0;
    font-size:80%;
}
form span {
    font-size:80%;
}
.required label {
    font-weight:bold;
    color:#C60;
}
input[type='submit'] {
    @include button;
}
#leak-form input[type='submit'] {
    float:left;
}
#id_title, #id_description {
    width: 100%;
}
.ui-autocomplete {
    list-style: none;
    position:fixed !important;
    background: #FFF;
    width: 10em;
    padding:0;
    margin:0;
}
.ui-autocomplete a {
    display:block;
    font-size:80%;
    padding: 0.5em;
}
.ui-state-hover {
    background:#0C6;
    color:#FFF;
}
#login-form {
    float:left;
}
#register-form {
    float:left;
    width: 40%;
    padding:1em;
    h3 {
        text-align: center;
    }
}
#id_description.hover {
    border:3px solid #900;
    background: #EEE;
}
.hidden-detail {
    display:none !important;
}
.login {
    display:inline-block;
    padding: 0.25em 1em ;
    font-weight: bold;
    border-radius:3px;
    color: white;
    &:hover  {
        text-shadow: none;
    }
}
.login.facebook {
    @include gradient(#3B5998)

}
.login.google {
    @include gradient(#F90101)
}