{% extends 'layout.html' %}
{%  load banner_tags tagging_tags %}
{% block title %}
    {{object.title}}
{% endblock %}
{% if object %}
    {% block logo %}
    {{block.super}}<a href="{{object.get_absolute_url}}">{{object.title|default:'sin-titulo'}}</a>
    {% endblock %}
{% endif %}
{% block section_class %}class="leak"{% endblock %}
{% block content %}
    {% if object %}
    <article itemscope itemtype="http://schema.org/Article">
        <div itemprop="description" content="{{object.description|truncatewords:10}}">
        {{object.rendered|safe}}
        </div>
        <div id="detail" >
            <div class="wrapper">   
                <p id="tagcloud">
                    {% tag_cloud_for_model ltmo.Leak as cloud with steps=20 min_count=8 distribution=log %}
                    {% for tag in cloud %}
                    <a href="/leak/{{tag}}" 
                       style="font-size:{{tag.font_size|add:'8'}}pt"
                       title="{{tag.count}} derrames">{{tag}}</a>
                    {% endfor %}
                </p>
                <p id="metadata" >
                    <span itemprop="name">{{object.title}}</span>
                    {% tags_for_object object as tag_list %}
                    <a href="/~{{object.author}}" itemprop="author">~{{object.author}}</a>, 
                    {{object.created|date}}, 
                    {% for tag in tag_list %}<a href="/leak/{{tag|slugify}}" class="tags">{{tag}}</a>, {%endfor%}           
                    <a title="permalink" class="permalink" href="{{object.get_absolute_url}}" itemprop="url">#{{object.pk}}</a>
                    {{object.metadata}}
                    {% if user.is_staff %}<a href="/edit/{{object.pk}}">editar</a>{% endif %}
                </p>
            </div>
            </div>
            {% with prev=object.get_previous_by_changed  %}
                {% if prev.get_absolute_url %}
                    <a class="pager prev" href="{{prev.get_absolute_url}}"><strong>#{{prev.id}}</strong></a>
                {% endif %}
            {% endwith %}
            {% with next=object.get_next_by_changed  %}
                {% if next.get_absolute_url %}
                    <a class="pager next" href="{{next.get_absolute_url}}"><strong>#{{next.id}}</strong></a>
                {% endif %}
            {% endwith %}
        {% pop_slot 'content' %}
    </article>
    {% else %}
    <article>
        <h4>No hay derrames ahún</h4>
    </article>
    {%endif %}

{% endblock %}

