{% extends 'index.html' %}
{% block title %}
AYUDAAAAAAAAAAAAAAAAAAA!!!!!
{% endblock %}
{% block content %}
<article id="about" class="help">
    <h1>Acerca de ltmo<a href="#about" class="pilcrow">&para;</a></h1>
    <p></p>
</article>
<article id="syntax" class="help">
    <h1>Ayuda de formato <a href="#syntax" class="pilcrow">&para;</a></h1>
</article>
<article id="faq" class="help">
    <h1>Preguntas Frecuentes <a href="#faq" class="pilcrow">&para;</a></h1>
    <p></p>
</article>
{% endblock %}
