<!DOCTYPE html>
{%  load markup tagging_tags pagination_tags macros gravatar %}
{% loadmacros "banners.html" %}
<html lang='es'>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Le damos a la pacha mama{% endblock %} . ltmo</title>
    <meta name="description" content="LTMO, un sitio para procastinar en todos los niveles que sea imaginable." />
    <meta name="google-site-verification" content="GzD0PcJhPHGZ1BcTySo8BLEqEQNObvIqqMXSjqVeh4w" />

    <link title="LTMO - Derrames publicados recientemente" href="/feed/" type="application/rss+xml" rel="alternate">
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />    

<!--    <script src="http://widgets.twimg.com/j/2/widget.js"></script>-->
</head>
<body>
<div id="wrapper">
<header>
    {% usemacro head %}
    <h1 id="logo"><a href="http://{{request.get_host}}">ltmo</a></h1>
    <p id="tagline">un rincón para los amigos</p>
</header>
<div id="main">
    <section>
    {% block content %}
    {% if author %}
       <h1 id="author">{% gravatar author.email %} {{author}}, <details>viene perdiendo aceite desde: {{author.date_joined|date}}</details></h1>

    {% else %}
        <h3>Últimos derrames</h3>
    {% endif %}
    {% autopaginate object_list 10 %}
    {% for object in object_list %}
        <article>
        <h1> <a href="{{object.get_absolute_url}}">{{object.title}}</a></h1>    
        {{object.description|safe|markdown:'code_hilite'|truncatewords_html:'150'}}
        {% tags_for_object object as tag_list %}
        <details><a href="/?author={{object.author}}">{{object.author}}</a>, {{object.created|date}}, {% for tag in tag_list %}<a href="/?tag={{tag|slugify}}" class="tags">{{tag}}</a>, {%endfor%}{{object.metadata}}</details>
        </article>
        {% if forloop.counter == 5 %}{% usemacro content %}{% endif %}
    {% empty %}<h2>Nadie derramó nada aún</h2>
    {% endfor %}
    {% paginate %}
    {% endblock %}
    </section>
    <aside>
        <h3> ¿Qué es lo que observa? </h3>
        <p>Nunca hay suficiente redundancia para garantizar la continuidad de la información.</p>
        <p>Este es un experimento, una herramienta para evitar perder cosas que en algún momento nos resultaron interesantes.
        Hay un <a href="http://github.com/tutuca/ltmo/raw/master/bin/spill.py">script de linea de comandos</a> que te deja entrar un mensaje y enviarlo a esta web.</p>

        <p>El código es libre y se explica solo. Así que no preguntes por ayuda o explicaciones, nosotros tampoco sabemos de que se trata.</p>
        <h3>Nube</h3>    
        {% tag_cloud_for_model ltmo.Leak as cloud with steps=20 distribution=linear %}
        {% for tag in cloud %}
        <a href="/?tag={{tag}}" 
           style="font-size:{{tag.font_size|add:'8'}}pt"
           title="{{tag.count}} derrames">{{tag}}</a>
        {% endfor %}
        {% tags_for_model ltmo.Leak as leak_tags with counts %}

        <h3>Publicidad</h3>
        {% usemacro aside %}
        {% usemacro twitter %}
    </aside>
    <br class="clear"/>
</div>
<footer>
        <p><a href="http://twitter.com/lossingoil">Seguinos en twitter</a> o <a href="mailto://loosingoil@gmail.com">mandanos a trabajar</a>, pero igual revisá el <a href="{{repository.url}}">Código fuente</a> que todavía tenemos {{repository.open_issues}} issues, y de los {{repository.watchers}} culiados que miran el repositorio ninguno nos da una mano</p>
</footer>
</div>
<!-- VP -->
</body>
    {% usemacro google_analytics %}
</html>
