{% extends "index.html" %}
{% block main %}
{% if form.instance.id %}
<form action="/edit/{{form.instance.id}}" method="post" {% if form.errors %}class="error"{% endif %} id="leak-form">
{% endif %}
<form action="/new/" method="post" {% if form.errors %}class="error"{% endif %} id="leak-form">    
    
    <input type="hidden" id="id_{{form.author.name}}" name="{{form.author.name}}" value="{{request.user.pk}}" />
    <input type="hidden" name="next" value="{{request.path}}" />
    {% csrf_token %}
    <table id="formating-help">
    <caption>Podés usar <a href="/help#syntax">markdown</a> y pegar vinculos a imágenes directamente</caption>
        <tbody>
            <tr><td>*itálicas*</td><td><em>itálicas</em></td></tr>
            <tr><td>**negritas**</td><td><b>negritas</b></td></tr>
            <tr><td>[ltmo!](http://ltmo.com.ar)</td><td><a href="http://ltmo.com.ar">ltmo!</a></td></tr>
            <tr><td>* item 1<br>* item 2<br></td><td><ul><li>item 1</li><li>item 2</li></ul></td></tr>
            <tr><td>&gt; texto citado</td><td><blockquote>texto citado</blockquote></td></tr>
    </table>
    <section>
        {{form.as_p}}
    <p class="clear submit">
        <input name="save" type="submit" value="listo" /> 
        <a href="#leak-form" class="control">Cerrar</a> 

    </p>

</form>
{% endblock %}
