{%  load tagging_tags %}
<article>
    {% if object.title %}
    <h1><a href="{{object.get_absolute_url}}">{{object.title}}</a></h1>
    {% endif %}
    {{object.rendered|safe|truncatewords_html:'150'}}
    {% tags_for_object object as tag_list %}
    <div {% if alone %}id="detail"{%else%}class="detail"{% endif %}>
    <p class="wrapper">
        <a href="/~{{object.author}}">~{{object.author}}</a>, 
        {{object.created|date}}, 
        {% for tag in tag_list %}<a href="/leak/{{tag|slugify}}" class="tags">{{tag}}</a>, {%endfor%}           
        <a title="permalink" class="permalink" href="{{object.get_absolute_url}}">#{{object.pk}}</a>
        {{object.metadata}}
        {% if user.is_staff %}<a href="{% url 'edit' object.id %}" >!</a>{% endif %}
    </p>
    </div>
</article>
