{% extends 'layout.html' %}
{% load pagination_tags banner_tags tagging_tags %}
{% block logo %}
{{block.super}}<a href="/leak/{{tag_name|slugify}}" title="Hay {{object_list.count}} derrames con esta etiqueta">{{tag_name|default:'leaks'}}</a>
{% endblock %}
{% block content %}
{% regroup object_list by tags as object_list %}
{% autopaginate object_list 10 %}
{% for tag in object_list %}
    {%if not tag_name%}
    <h2><a href="/leak/{{tag.grouper}}">{{tag.grouper}}/</h2>
    {%endif%}
    {% for object in tag.list|slice:':5' %}
        {% include 'leak.html' %}
        {% if forloop.counter == 4 %}{% pop_slot 'content' %}{% endif %}
    {% endfor %}
    {% if forloop.counter == 5 %}{% pop_slot 'content' %}{% endif %}
{% endfor %}
{% paginate %}
{% endblock %}
