<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset=utf-8" />
    <title>{% block title %}Queremos tener el cielo...{% endblock %}</title>
    <link rel="stylesheet" href="/media/style.css" type="text/css" 
        media="screen" />    
</head>
<body>
<section>
<h1>No hay nada acá</h1>
<!-- 
    Cuesta esfuerzo, dicho así a la ligera, percatarse de que el enunciado 
    anterior concluye que hay algo aquí.


    Te sugiero, si embargo, dejar de divagar en esas dilaciones y servirte a
    volver a la página principal
    
-->
    <a href="/" class="rewind"><< Volver</a>
</section>
</body>
