<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset=utf-8" />
    <title>{% block title %}Que se creen los ingleses? que son los únicos que pueden hacer derrames???{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />    
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>
<body>
<section>
<h1>Oops</h1>
<p>Se pinchó un tubo. Ahora mismo nuestros ingenieros están corriendo a arreglarlo</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>En serio...</p>
</section>
</body>
