{% extends 'index.html' %}
{%  load banner_tags %}
{% block content %}
        {% include 'leak.html' %}
        <div class="pagination">
            {% if object.get_previous_by_changed.get_absolute_url %}
                <a class="prev" href="{{object.get_previous_by_changed.get_absolute_url}}">< anterior </a>
            {% endif %}
            {% if object.get_next_by_changed.get_absolute_url %}
                <a class="next" href="{{object.get_next_by_changed.get_absolute_url}}">siguiente ></a>
            {% endif %}
        </div>
    {% pop_slot 'content' %}
{% endblock %}

