{% extends 'index.html' %}
{%  load md2 tagging_tags pagination_tags %}

{% block content %}
        <article>
        {{object.description|urlize|markdown2}}
        <code>
        {{object.metadata|safe}}
        </code>
        </article>
        {% tags_for_object object as tag_list %}
        <details><a href="/?author={{object.author}}">{{object.author}}</a>, {{object.created|date}}, {% for tag in tag_list %}<a href="/?tag={{tag|slugify}}" class="tags">{{tag}}</a>, {%endfor%}</detail>

{% endblock %}
