<!DOCTYPE html>
{%  load md2 tagging_tags pagination_tags %}
<html lang='es'>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Está amarillo porque le ponemos huevo{% endblock %} . ltmo</title>
    <meta name="description" content="LTMO, un sitio para procastinar en todos los niveles que sea imaginable." />
    <link title="LTMO - Derrames publicados recientemente" href="/feed/" type="application/rss+xml" rel="alternate">
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />    
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>
<body>

    <section>
    {% block content %}
    

    {% autopaginate object_list 10 %}
    {% for object in object_list %}
        <article>
        {{object.description|urlize|markdown2}}
        {% tags_for_object object as tag_list %}
        <details><a href="/?author={{object.author}}">{{object.author}}</a>, {{object.created|date}}, {% for tag in tag_list %}<a href="/?tag={{tag|slugify}}" class="tags">{{tag}}</a>, {%endfor%}{{object.metadata}}</details>
        </article>
    {% empty %}
        <h2>Nadie derramó nada aún</h2>
    {% endfor %}
    {% paginate %}
    {% endblock %}
    </section>
    <aside>
        {{about|markdown2}}
        {% tags_for_model ltmo.Leak as leak_tags with counts %}
        <h3>Tags</h3>    
        <ul>
        {% for tag in leak_tags %}
            <li><a href="/?tag={{tag}}">{{tag}}</a> ({{tag.count}})</li>
        {% endfor %}
        </ul>
        <div >
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 6000,
          width: 'auto',
          height: 500,
          theme: {
            shell: {
              background: '#ffffff',
              color: '#333333'
            },
            tweets: {
              background: '#FFCC00',
              color: '#333333',
              links: '#000000'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('lossingoil').start();            
        </script>
        </div>
    </aside>
    <footer>
        <p><a href="http://twitter.com/lossingoil">Seguinos en twitter</a> o <a href="mailto://loosingoil@gmail.com">mandanos a trabjar</a>, pero igual revisá el <a href="{{repository.url}}">Código fuente</a> que todavía tenemos {{repository.open_issues}} issues, y de los {{repository.watchers}} culiados que miran el repositorio ninguno nos da una mano</p>
    </footer>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18147848-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
