<form id="leak-form" action="{% url leak_new %}" method="post" {% if not form.errors %}class="hide"{% endif %}>
    {% csrf_token %}
    {% if user.is_anonymous %}
    <input type="hidden" name="{{form.author.name}}" value="anon" />
    {% else %}
    <input type="hidden" name="{{form.author.name}}" value="{{user}}" />
    {% endif %}  
    <table id="formating-help" cellspacing="0" cellpadding="0">
    <caption>Podés usar <a href="/help#syntax">markdown</a> y pegar vinculos a imágenes directamente</caption>
        <tbody>
            <tr><td>*itálicas*</td><td><em>itálicas</em></td></tr>
            <tr><td>**negritas**</td><td><b>negritas</b></td></tr>
            <tr><td>[ltmo!](http://ltmo.com.ar)</td><td><a href="http://ltmo.com.ar">ltmo!</a></td></tr>
            <tr><td>* item 1<br>* item 2<br></td><td><ul><li>item 1</li><li>item 2</li></ul></td></tr>
            <tr><td>&gt; texto citado</td><td><blockquote>texto citado</blockquote></td></tr>
    </table>
    <section>
    <div class="field {% if form.title.errors %}error{% endif %}" id="field_{{form.title.name}}" >
        <label for="{{form.title.name}}">Título</label> 
        {{form.title}}
    </div>

    <div class="field required {% if form.description.errors %}error{% endif %}" id="field_{{form.description.name}}"> 
        {{form.description.errors}}
        <label for="{{form.description.name}}">Derrame</label>
        {{form.description}}
        
    </div>
        <div class="field required {% if form.tags.errors %}error{% endif %}" id="field_{{form.tags.name}}"> 
        {{form.tags.errors}}
        <label for="{{form.tags.name}}">Tags</label> 
        {{form.tags}}
    </div>
    </section>
    <div class="clear submit">
        <input name="save" type="submit" value="listo" /> 
        <a href="#leak-form" class="control">Cerrar</a> 

    </div>

</form>
