{% extends "index.html" %}
{% block logo %}
<a href="http://{{request.get_host}}" title="Bienvenido">ltmo/</a>ingreso y registro
{% endblock %}
{% block main %}
  <form action="/login" method="post" id="#login-form">{% csrf_token %}
    <h2>Inicio de sesión para usuarios</h2>
    <input type="hidden" name="next" value="{{next|default:'/'}}">
    {{form.as_p}}
  
    <p class="field"><input type="submit" value="ingresar" /></p>
  </form>
  
  <form action="/register" method="post" id="register-form">{% csrf_token %}
    <h2>También podemos abrirte una cuenta</h2>
    <p>Ingresando tu email te crearemos un usuario y enviaremos la contraseña por email, podés cambiar los datos luego de ingresar</p>
    <input type="hidden" name="next" value="/">
    <input type="hidden" name="honeypot" value=""/>
    <p>
    <label for="username">Nombre para mostrar: </label><input type="text" name="username" id="username" value=""/>    
    </p>
    <p>
    <label for="email">Email: </label><input type="email" name="email" id="email" value=""/>
    </p>
    <p><input type="submit" value="registrarse" /></p>
  </form>
{% endblock %}
