{% extends 'index.html' %}
{% load pagination_tags banner_tags tagging_tags %}
{% block logo %}
    <a href="http://{{request.get_host}}" title="Volver a la raiz">ltmo/</a><a href="/~{{ author }}">~{{author}}</a> ({{object_list.count}})
{% endblock %}
{% block content %}

    {% autopaginate object_list 10%}
    {% for object in object_list %}
        {% include 'leak.html' %}
        {% if forloop.counter == 4 %}{% pop_slot 'content' %}{% endif %}
    {% if forloop.counter == 5 %}{% pop_slot 'content' %}{% endif %}
    {% endfor %}

    {% paginate %}
{% endblock %}
